<!-- <h3 class="section-title">Statement</h3> -->
<div class="home-statement justify-content-center">
  <%= image_tag("statement.svg", :alt => "Statement") %>
  <p class="home-statement-txt">
    Through an intersectional platform,
    we empower local businesses
    and entrepreneurs from underrepresented
    communities by making them more visible to
    their communities and others that would like
    to support them, thereby helping to strengthen
    the economic and political power of these communities.
  </p>
</div>
