<div class="main container-md mb-5">
  <div class="container">
    <%= render :partial => 'search_form' %>
  </div>
  <div class="team-boxed">
    <div class="container">
      <% @businesses.in_groups_of(3).each do |business_chunk| %>
        <div class="row people">
          <% business_chunk.each do |business| %>
            <%= render business if business.present? %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
.body {
  background-color:#FFDE2F;
}

.main {
  margin-top: 50px;
}

.team-boxed {
  color: #313437;
  background-color: #FFDE2F;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed .item {
  text-align: center;
  align-items: center;
}

.team-boxed .item .box {
  padding:24px;
  background-color: #FDFDFD;
  margin-bottom:30px;
  border-radius: 16px;
}

.team-boxed .item .text_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 24px 0px;
}

.team-boxed .item .name {
  margin-top:28px;
  margin-left:12px;
  margin-bottom:8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color:#212121;
}

.team-boxed .item .title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left:12px;
  color:#212121;
}

.team-boxed .item img {
  width:100px;
  height:100px;
}

.team-boxed .social {
  align-items: flex-start;
}

.team-boxed .social a {
  text-decoration:none;
}

.team-boxed .social i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

.team-boxed i {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;

  position: static;
  width: 36px;
  height: 36px;
  left: 0px;
  top: 0px;

  /* Edge Black 20% */

  border: 1px solid #D3D3D3;
  color: #212121;
  box-sizing: border-box;
  border-radius: 36px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
.team-boxed i:hover {
  background-color:#6ab04c;
  color:#fff;
}

.team-boxed .tags {
  margin-top:15px;
  align-items: flex-start;
}

.team-boxed .tag {
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 8px;
  background: #F4F4F4;
  border-radius: 54px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #212121;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}

</style>
