<div class="main container-md mb-5">
  <div class="team-boxed">
    <div class="container">
      <% @businesses.in_groups_of(3).each do |business_chunk| %>
        <div class="row people">
          <% business_chunk.each do |business| %>
            <%= render business if business.present? %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
.body {
  background-color:#FFDE2F;
}

.team-boxed {
  color:#313437;
  background-color:#FFDE2F;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#FDFDFD;
  margin-bottom:30px;
  border-radius: 16px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  margin-top:15px;
}

.team-boxed .social a {
  text-decoration:none;
}

.team-boxed .social i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

.team-boxed i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.team-boxed i:hover {
  background-color:#6ab04c;
  color:#fff;
}


</style>
